/* BASE */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #555;
    margin: 0 0;
    box-sizing: border-box;
}

/* Layout */
.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/hero.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}

.header__logo {
    height: 100px;
    width: auto;
}

.header__list {
    list-style: none;
}

.header__list li {
    display: inline-block;
    margin-left: 40px;
}

.header__list li a:link,
.header__list li a:visited {
    font-size: 180%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0;
    transition: border-bottom .2s;
}

.header__list li a:hover,
.header__list li a:active {
    border-bottom: 2px solid #e67e22;
}






















