/* BASE */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #555;
    margin: 0 0;
    box-sizing: border-box;
}

/* Layout */
.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-column {
    flex: 1;
}

.row-column:not(:last-child) {
    margin-right: 10px;
}
/* END Of layout */

/* Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/hero.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
}

.header__logo {
    height: 100px;
    width: auto;
}

.header__list {
    list-style: none;
}

.header__list li {
    display: inline-block;
    margin-left: 40px;
}

.header__list li a:link,
.header__list li a:visited {
    font-size: 180%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0;
    transition: border-bottom .2s;
}

.header__list li a:hover,
.header__list li a:active {
    border-bottom: 2px solid #e67e22;
}

.hero-textbox {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-textbox__title--main {
    color: #fff;
    font-size: 480%;
    word-spacing: 0.6rem;
}
/* End of Header Module */

/* Common Headers */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
/* End of Common Headers */

/* BUTTONS */
.btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #e67e22;
    font-size: 180%;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #e67e22;
    transition: background-color .2s, color .2s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #a15512;
    border: 1px solid #a15512;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #a15512;
    transition: background-color .2s, color .2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    background-color: #e67e22;
}

/* End of Buttons module */

/* SECTION HEADER */
.section-header {
    width: 100%;
    text-align: center;
}

.section-header__heading--main {
    font-size: 360%;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-header__separator {
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    border: none;
    position: relative;
    top: -10px;
}

.section-header__desc {
    font-size: 200%;
    width: 70%;
    text-align: left;
    line-height: 145%;
    margin: 0 auto;
    margin-bottom: 30px;
}
/* END OF SECTION HEADER */

/* COLUMN ITEM */
.item {
    text-align: left;
}

.item__header {
    font-size: 220%;
}

.item__desc {
    font-size: 180%;
    line-height: 145%;
}
/* END OF COLUMN ITEM */

/* ICON */
.icon--thin {
   --ionicon-stroke-width: 16px; 
}

.icon--big {
    font-size: 540%;
}

.icon--orange {
    color: #e67e22;
}
/* END OF ICON */

/* SECTION STEPS */
.app-screen {
    width: 40%;
    display: block;
}

.btn-app img {
    height: 50px;
    width: auto;
}

.playstore {
    margin-left: 2em;
}

.section-steps__list {
    list-style: none;
    font-size: 200%;
    counter-reset: my-awesome-counter;
}

.section-steps__list li {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    counter-increment: my-awesome-counter;
    position: relative;
}

.section-steps__list li::before {
    content: counter(my-awesome-counter);
    position: absolute;
    left: -40px;
    
    width: 40px;
    height: 40px;
    border-radius: 200px;
    color: #e67e22;
    border: 2px #e67e22 solid;
    font-size: 180%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF SECTION STEPS */

/* UTILS */
.utils-block-center {
    margin: 0 auto;
}

.utils-margin-top-4em {
    margin-top: 4em;
}
/* END OF UTILS */























