/* BASE */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #555;
    margin: 0 0;
    box-sizing: border-box;
}

/* Layout */
.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/hero.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
}

.header__logo {
    height: 100px;
    width: auto;
}

.header__list {
    list-style: none;
}

.header__list li {
    display: inline-block;
    margin-left: 40px;
}

.header__list li a:link,
.header__list li a:visited {
    font-size: 180%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0;
    transition: border-bottom .2s;
}

.header__list li a:hover,
.header__list li a:active {
    border-bottom: 2px solid #e67e22;
}

.hero-textbox {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-textbox__title--main {
    color: #fff;
    font-size: 480%;
    word-spacing: 0.6rem;
}
/* End of Header Module */

/* Common Headers */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
/* End of Common Headers */

/* BUTTONS */
.btn {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #e67e22;
    font-size: 180%;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background-color: #e67e22;
    transition: background-color .2s, color .2s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #a15512;
    border: 1px solid #a15512;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #a15512;
    transition: background-color .2s, color .2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    background-color: #e67e22;
}

/* End of Buttons module */






















